.jumpingText-container {
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 100%;
  padding: 0 20px;
}

@media (min-width: 667px) {
  .jumpingText-container {
    float: left;
    width: 83.3333333333%;
    max-width: 1400px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: both;
    padding: 0;
  }

  .jumpingText-container:after,
  .jumpingText-container:before {
    content: " ";
    display: table;
  }

  .jumpingText-container:after {
    clear: both;
  }
}

.jumpingText-buzzwords_container {
  float: left;
  width: 100%;
  line-height: 0.9;
  position: relative;
  margin-bottom: 80px;
}

.jumpingText-words .jumpingText-words_line {
  float: left;
  clear: both;
  position: relative;
  margin-top: 2px;
  margin-bottom: 2px;
}

.jumpingText-words .jumpingText-words_line:last-child {
  z-index: 2;
}

.jumpingText-words .jumpingText-words_line:nth-last-child(2) {
  z-index: 3;
}

.jumpingText-words .jumpingText-words_line:nth-last-child(3) {
  z-index: 4;
}

.jumpingText-words:hover {
  cursor: default !important;
}

.jumpingText-words .jumpingText-charWrapper {
  float: left;
  position: relative;
  opacity: 0;
  z-index: 10;
  transform: translateX(-100px);
  will-change: opcity, transform;
}

.jumpingText-words .jumpingText-charWrapper:first-child {
  z-index: 2;
}

.jumpingText-words .jumpingText-charWrapper:nth-child(2) {
  z-index: 3;
}

.jumpingText-words .jumpingText-charWrapper:nth-child(3) {
  z-index: 4;
}

.jumpingText-words .jumpingText-charWrapper:nth-child(4) {
  z-index: 5;
}

.jumpingText-words .jumpingText-charWrapper:nth-child(5) {
  z-index: 6;
}

.jumpingText-words .jumpingText-charWrapper:nth-child(6) {
  z-index: 7;
}

.jumpingText-words .jumpingText-charWrapper:nth-child(7) {
  z-index: 8;
}

.jumpingText-words .jumpingText-charWrapper:nth-child(8) {
  z-index: 9;
}

.jumpingText-words .jumpingText-charWrapper:nth-child(9) {
  z-index: 10;
}

.jumpingText-words .jumpingText-charWrapper:nth-child(10) {
  z-index: 11;
}

.jumpingText-words .jumpingText-charWrapper:nth-child(11) {
  z-index: 12;
}

.jumpingText-words .jumpingText-charWrapper:nth-child(12) {
  z-index: 13;
}

.jumpingText-words .jumpingText-charWrapper:nth-child(13) {
  z-index: 14;
}

.jumpingText-words .jumpingText-charWrapper:nth-child(14) {
  z-index: 15;
}

.jumpingText-words .jumpingText-charWrapper:nth-child(15) {
  z-index: 16;
}

.jumpingText-words .jumpingText-charWrapper:nth-child(16) {
  z-index: 17;
}

.jumpingText-words .jumpingText-charWrapper:nth-child(17) {
  z-index: 18;
}

.jumpingText-words .jumpingText-charWrapper:nth-child(18) {
  z-index: 19;
}

.jumpingText-words .jumpingText-charWrapper:nth-child(19) {
  z-index: 20;
}

.jumpingText-words .jumpingText-charWrapper:nth-child(20) {
  z-index: 21;
}

.jumpingText-words .jumpingText-charWrapper .jumpingText-char {
  text-shadow: -20px 10px 10px rgba(0, 0, 0, 0.3),
    0 20px 50px rgba(0, 0, 0, 0.3);
  font-weight: 900;
  letter-spacing: -2px;
  font-size: 40px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transform-origin: 50% 100%;
  color: #fff;
  will-change: text-shadow, transform;
}

@media screen and (min-width: 320px) {
  .jumpingText-words .jumpingText-charWrapper .jumpingText-char {
    letter-spacing: calc(-2px + -10 * (100vw - 320px) / 1080);
  }
}

@media screen and (min-width: 1400px) {
  .jumpingText-words .jumpingText-charWrapper .jumpingText-char {
    letter-spacing: -12px;
  }
}

@media screen and (min-width: 320px) {
  .jumpingText-words .jumpingText-charWrapper .jumpingText-char {
    font-size: calc(40px + 155 * (100vw - 320px) / 1080);
  }
}

@media screen and (min-width: 1400px) {
  .jumpingText-words .jumpingText-charWrapper .jumpingText-char {
    font-size: 195px;
  }
}

@media (min-width: 667px) {
  .jumpingText-words .jumpingText-charWrapper .jumpingText-char {
    font-size: 40px;
  }
}

@media screen and (min-width: 667px) and (min-width: 320px) {
  .jumpingText-words .jumpingText-charWrapper .jumpingText-char {
    font-size: calc(40px + 130 * (100vw - 320px) / 1080);
  }
}

@media screen and (min-width: 667px) and (min-width: 1400px) {
  .jumpingText-words .jumpingText-charWrapper .jumpingText-char {
    font-size: 170px;
  }
}

@media (min-width: 1600px) {
  .jumpingText-words .jumpingText-charWrapper .jumpingText-char {
    font-size: 40px;
  }
}

@media screen and (min-width: 1600px) and (min-width: 320px) {
  .jumpingText-words .jumpingText-charWrapper .jumpingText-char {
    font-size: calc(40px + 155 * (100vw - 320px) / 1080);
  }
}

@media screen and (min-width: 1600px) and (min-width: 1400px) {
  .jumpingText-words .jumpingText-charWrapper .jumpingText-char {
    font-size: 195px;
  }
}

.jumpingText-words .jumpingText-charWrapper.jumpingLetter .jumpingText-char {
  animation: c 1.5s 1 alternate forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.jumpingText-words .jumpingText-words_line.is-ready .jumpingText-charWrapper {
  opacity: 1;
  transform: translateX(0);
  transition-property: transform, opacity;
  transition: 0.75s cubic-bezier(0.175, 0.885, 0.32, 2.275) 1.35s;
}

@keyframes c {
  0%,
  to {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  25%,
  75% {
    text-shadow: -5px 2px 2px rgba(0, 0, 0, 0.3), 0 5px 12px rgba(0, 0, 0, 0.3);
    transform: matrix(1.1, 0, 0, 0.8, 0, 0);
  }

  50% {
    transform: matrix(0.8, 0, 0, 1.2, 0, 0) translateY(-10px);
    text-shadow: -40px 20px 20px rgba(0, 0, 0, 0.3),
      0 40px 100px rgba(0, 0, 0, 0.3);
  }
}

.jumpingText-words .jumpingText-barBefore {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  opacity: 0;
  z-index: 20;
  transform: translateX(0);
  background-color: #fff;
  pointer-events: none;
  will-change: left, width, opacity, right, transform;
}

.jumpingText-words .jumpingText-words_line.is-ready .jumpingText-barBefore {
  animation: d 1.85s alternate forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.jumpingText-words .c-buzzwords__barAfter {
  background-color: #1a1a1a;
  position: absolute;
  left: -20px;
  right: -20px;
  height: 1px;
  opacity: 0;
  top: 50%;
  z-index: 30;
  box-shadow: -20px 10px 10px rgba(0, 0, 0, 0.3), 0 20px 50px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  transform: translateX(-100vw);
  will-change: opcity, transform;
  transition-property: opacity, transform;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms;
}

.jumpingText-words .jumpingText-words_line.is-ready .c-buzzwords__barAfter {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 3.35s;
}

@keyframes d {
  0% {
    left: 0;
    width: 0;
    opacity: 0;
  }

  50% {
    left: 0;
    width: 0;
    opacity: 1;
    width: 100%;
  }

  55% {
    right: 0;
    left: auto;
    opacity: 1;
    width: 100%;
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  to {
    right: 0;
    left: auto;
    opacity: 0;
    width: 0;
    transform: translateX(200px);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}
