#root {
  text-align: center;
}
.parentContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  row-gap: 0px;
  flex-direction: row;
  justify-items: center;
  text-align: center;
}
.title {
  min-height: 10%;
  max-height: 10%;
}
.jumpingTextContainer {
  min-height: 50%;
  max-height: 50%;
}
.contentArea {
  min-width: 60%;
  max-width: 60%;
}
.jumpingTextControls {
  min-width: 40%;
  max-width: 40%;
  background: #edcb1ea8;
  box-shadow: 7px 2px solid rgb(128, 126, 126);
  border-left: 2px solid rgb(52 52 52 / 48%);
  width: 100%;
  display: block;
  justify-content: center;
  align-items: baseline;
  padding: 10px;
}
.controlItems {
  display: flex;
  align-items: center;
  column-gap: 10px;
  outline: none;
}
.input-text {
  outline: none;
}
.input-shadow {
  width: 70%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.color-picker-container {
  display: flex;
  align-items: center;
}
#colorPicker {
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-right: 20px;
}

#colorInput {
  width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 20px;
  outline: none;
}
